<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="/javascripts/sha1-min.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css" />
  </head>
  <body>
    <%- partial('prueba/prueba.ejs') %>
    <%- body %>
  </body>
</html>