<p>Hola, <%= name %>:</p>
Hace poco ha creado una nueva cuenta en Toollife, debe validarla para poder acceder a todas las
funcionalidades que ofrecemos. Para ello tan solo tiene que seguir este enlace:
<br><a href="http://localhost:3000/validation/<%= hash %>">http://localhost:3000/validation/<%= hash %></a>
<br><font face="arial" SIZE=1>
	(Si el enlace no funciona, copialo y pegalo en la barra de direcci칩n de tu navegador)
</font>
<p>Dispone de 24 horas para validar la cuenta, puede realizar la validaci칩n en cualquier momento. Pasado 
el plazo la cuenta ser치 borrada y deber치 a volver a registrarse en la web.</p>

Saludos, y gracias.
<br>El equipo de Toollife.